/* --------------- CONTACT FORM INPUT NUMBER HIDE ARROWS START --------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* --------------- CONTACT FORM INPUT NUMBER HIDE ARROWS END --------------- */

/* --------------- FOOTER START --------------- */

footer {
  border-top: 1px solid rgb(218, 218, 218);
}

.contact {
    width:100%;
    padding: 5em 1em;
    text-align: left;
}

.contact__box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    grid-gap: 2em;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "form"
    "container"
}

.contact__form { grid-area: form; }
.contact__container { grid-area: container; }

.contact__form {
    width: 100%;
}

.form {
    max-width: 500px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    text-align: left;
    background-color: var(--clr-white);
    margin: 0 auto;
}

.form__title {
    font-size: 1.1rem;
    font-family: Raleway-Light;
    color: var(--clr-black);
    letter-spacing: 2px;
    font-weight: bolder;
    line-height: 1.5em;
}

.form-item {
    margin-top: 2.5em;
}

.form-item + .form-item {
    margin-top: 2em;
}

.form-item textarea {
    height: 12em;
}

.form-input {
    /*background: var(--clr-primary);*/
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    font-size: .6rem;
    letter-spacing: 2px;
    font-family: Raleway-Light;
    font-weight: bolder;
    padding: 1em;
}

.form-input::placeholder {
    color: rgb(100, 100, 100);
}

textarea {
    resize: none;
}

.form-button {
    font-size: .7rem;
    font-weight: bolder;
    letter-spacing: 2px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #889098;
    padding: 1.5em;
    margin: 5em auto 0 auto;
    /* Ver si el transition está bien acá*/
    transition: 400ms ease-in-out;
    background-color: #889098;
    color: var(--clr-white);
    font-family: Raleway-Light;
    text-transform: uppercase;
}

.form-button:hover {
    background-color: #333333;
    border: 1px solid #333333;
    cursor: pointer;
}

.contact__container {
    width: 100%;
    margin-top: 0;
    height: 100%;
}

.contact__box-info {
    padding-top: 2em;
    border-top: 1px solid rgb(211, 210, 210);
}

.contact__info-box {
    margin-bottom: 2em;
}

.contact__title {
  font-size: 1.1rem;
  font-family: Raleway-Light;
  color: var(--clr-black);
  letter-spacing: 2px;
  font-weight: bolder;
  line-height: 1.5em;
}

.contact__description {
    color: var(--clr-black);
    font-family: OpenSans;
    font-size: .7rem;
    margin-bottom: .3em;
    font-weight: lighter;
}

.contact__description a {
    text-decoration: none;
    color: var(--clr-black);
}

.contact-message-box {
    width:90%;
    margin: 1em auto 0 auto;
}

.contact-message {
    text-align: center;
    font-family: Raleway;
}

.success {
    border-radius: 2px;
    padding: .8em 1em;
    font-size: .8rem;
    color: white;
    background-color: rgb(60, 173, 88);
}

.error {
    border-radius: 2px;
    padding: .8em 1em;
    font-size: .8rem;
    color: white;
    background-color: rgb(218, 49, 49);
}

/* --------------- FOOTER END --------------- */

@media screen and (min-width: 800px) {

/* --------------- FOOTER BIG SCREEN START --------------- */
      
.contact {
    padding: 4em;
  }

  .contact__box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "form container"
  }

  .form {
    max-width: none;
  }

  .contact__box-info {
    padding: 2em;
    border: 0;
  }

  .contact__description {
    font-size: .8rem;
    letter-spacing: 2px;
  }

  .form-input {
    font-size: .7rem;
  }

  /* --------------- FOOTER BIG SCREEN END --------------- */

}

  @media only screen and (min-width: 1200px) {

    /* --------------- CONTACT BIG SCREEN START --------------- */
    .contact {
        max-width: 1100px;
        margin: 0 auto;
    }
    /* --------------- CONTACT BIG SCREEN END --------------- */
  
  }