@media screen and (min-width: 900px) {
#instalaciones-sanitarias-gallery{
    grid-template-areas: 
    "imagenGaleria1 imagenGaleria1 imagenGaleria3"
    "imagenGaleria4 imagenGaleria5 imagenGaleria6"
    "imagenGaleria7 imagenGaleria8 imagenGaleria9"
    "imagenGaleria2 imagenGaleria2 imagenGaleria12"
    "imagenGaleria10 imagenGaleria11 imagenGaleria12"
    ;
}

  #imagen1-galeria {
    grid-area: imagenGaleria1;
  }
  #imagen2-galeria {
    grid-area: imagenGaleria2;
  }
  #imagen3-galeria {
    grid-area: imagenGaleria3;
  }
  #imagen4-galeria {
    grid-area: imagenGaleria4;
  }
  #imagen5-galeria {
    grid-area: imagenGaleria5;
  }
  #imagen6-galeria {
    grid-area: imagenGaleria6;
  }
  #imagen7-galeria {
    grid-area: imagenGaleria7;
  }
  #imagen8-galeria {
    grid-area: imagenGaleria8;
  }
  #imagen9-galeria {
    grid-area: imagenGaleria9;
  }
  #imagen10-galeria {
    grid-area: imagenGaleria10;
  }
  #imagen11-galeria {
    grid-area: imagenGaleria11;
  }
  #imagen12-galeria {
    grid-area: imagenGaleria12;
  }
}