/* --------------- HOME START --------------- */

.home-title {
  margin: 0;
  font-size: 1.2rem;
  font-family: OpenSans;
  color: var(--clr-black);
  letter-spacing: 3px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding: 8em 0 2em 0;
}

.service-container {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4em;
}

/* --------------- HOME END --------------- */


/* --------------- SERVICE CHARACTERISTICS START --------------- */

.service-characteristics ul {
  border-radius: 10px;
  padding: 2em;
  -webkit-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  -moz-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
}

.service-characteristics li {
  border-top: 1px solid rgba(228, 228, 228, 0.753);
  font-family: OpenSans;
  font-size: .9rem;
  padding: .2em 0;
  color: #000000;
  padding: .5em;
}

.service-characteristics li:first-child {
border: none;
}

/* --------------- SERVICE CHARACTERISTICS END --------------- */


/* --------------- GALLERY START --------------- */

::selection{
    color: #fff;
    background: #007bff;
  }
  .wrapper{
      padding: 0 2em;
      max-width: 600px;
      margin: 0 auto;
  }
  .gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .3em;
  }
  .gallery .image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    min-height:100%; min-width: 100%; object-fit: cover;
  }
  .gallery .image img{
    width: 100%;
    transition: all 0.3s ease;
    min-height:100%; min-width: 100%; object-fit: cover;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  
  .preview-box{
    max-height: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 90%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
  }
  .preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    margin: 0 5px;
  }
  .details .title p.current-img{
    font-weight: 500;
  }
  .details .icon{
    color: #000000;
    font-size: 20px;
    cursor: pointer;
  }
  .preview-box .image-box{
    display: flex;
    width: 100%;
    position: relative;
  }
  .image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
  }
  .slide.prev{
    left: 0px;
  }
  .slide.next{
    right: 0px;
  }
  .image-box img{
    max-height: 600px;
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
  }

  /* --------------- GALLERY END --------------- */

  @media screen and (min-width: 800px) {

    /* --------------- HOME BIG SCREEN START --------------- */

    .service-container {
      margin: 0 auto;
      max-width: 1300px;
      grid-template-columns: 25% 75%;
    }

    /* --------------- HOME BIG SCREEN END --------------- */

    /* --------------- GALLERY BIG SCREEN START --------------- */
    
    .gallery {
      grid-template-columns: repeat(3,1fr);
    }

    /* --------------- GALLERY BIG SCREEN END --------------- */

  }