/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

@font-face {
  font-family: 'Colfax';
  src: url(../fonts/Colfax-Regular.otf);
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: 'Oswald-Light';
  src: url(../fonts/Oswald-Light.ttf);
}

@font-face {
  font-family: 'Oswald-Medium';
  src: url(../fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Regular.ttf);
}

/*
=============== 
Variables
===============
*/

:root {
  --clr-main-color: rgba(47, 111, 134, 0.479);
  --clr-main-color-dark: rgb(42, 96, 117);
  --clr-primary-3: rgb(16, 65, 85);
  --clr-primary-4: rgb(8, 126, 173);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-family: Raleway;
  color: var(--clr-text);
  font-size: 1.25rem;
}

body {
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0;
}

section {
  padding: 6em;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.anchor {
  display:block;
  height:105px; 
  margin-top:-105px; 
  visibility:hidden;
}

/* --------------- WHATSAPP LOGO START --------------- */

.whatsapp-icon-container{
  font-size: 1.5rem;
}

.icon-whatsapp{
  position: fixed;
	bottom: 20px;
	right: 20px;
	text-align:center;
  z-index:100;
  transition: .5s ease all;
  padding: .4em;
  border-radius: 50%;
  color:#FFF;
  background-color: #25d366;
  box-shadow: 2px 2px 3px #999;
}

.icon-whatsapp:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

/* --------------- WHATSAPP LOGO END --------------- */

/* --------------- HOME START --------------- */

#home {
  padding: 0;
}

.carousel-item {
  height: 100vh;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.534);
  position: absolute;
  top: 30%;
  width: 100%;
  right: 0;
  left: 0;
}

.carousel-caption h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Raleway;
  letter-spacing: .15rem;
  padding-bottom: .3em;
}

.carousel-caption p {
  font-size: 1rem;
  font-family: Raleway-Light;
  letter-spacing: .15rem;
  padding-bottom: 1em;
}

.btn-lg {
  text-transform: uppercase;
  border-width: medium;
  border-radius: 0;
  font-size: .8rem;
  font-weight: bolder;
  letter-spacing: 3px;
  background-color: #AAB4BE;
  padding: 1em 1.5em;
  transition: 400ms ease-in-out;
  color: #232323;
  font-family: Raleway-Light;
}

.btn-lg:hover {
  background-color:#5a5a5a;
  color: white;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

/* --------------- HOME END --------------- */

/* --------------- SERVICES START --------------- */

/* --------------- PRODUCTS START --------------- */

.products-container {
  background-color: rgba(179, 179, 179, 0.178);
  padding: 4em 2em 6em 2em;
}

.products {
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "box1"
  "box2"
  "box3"
}

.products__title {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-family: Raleway-Light;
  color: #232323;
  letter-spacing: 2px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.product__box1 { grid-area: box1; }
.product__box2 { grid-area: box2; }
.product__box3 { grid-area: box3; }

.product__box {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  background: var(--clr-white);
  transition: all .5s ease-out;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  -moz-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  box-shadow: 0px 0px 22px 3px rgba(151, 151, 151, 0.452);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "img"
  "description"
}

.product__box:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.product__img {
  grid-area: img;
}

.product__box img {
  width: 100%;
  height: 200px;
}

.product__description {
  padding: 1em;
  grid-area: description;
}

.product__box h4 {
  grid-area: title;
  color: var(--clr-black);
  font-size: .8rem;
  padding: .5em;
  font-family: OpenSans;
  letter-spacing: 2px;
  margin: 0;
}

/* --------------- PRODUCTS END --------------- */


/* --------------- ACTION-CALL START --------------- */

.action-call-container {
  background-color:#AAB4BE;
  padding: 1.7em;
}

.action-call {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  grid-gap: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "description"
  "btn"
}

.action-call__text {
  grid-area: description;
  color: var(--clr-black);
  text-transform: uppercase;
}

.action-call__text h4 {
  font-size: 1.2rem;
  margin: 0;
  font-family: Raleway;
}

.action-call__btn {
  background-color:#00000033;
  grid-area: btn;
  color: var(--clr-white);
  margin: 0 auto;
  transition: all .5s ease-out;
  padding: .5em 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Raleway;
}

.action-call__btn:hover {
  background-color:#0000006c;
}

/* --------------- ACTION-CALL END --------------- */

/* --------------- FEATURES START --------------- */

.features-container {
  padding: 6em 2em;
}

.features {
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "box1"
  "box2"
  "box3"
  "box4"
  "box5"
  "box6"
}

.features__title {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-family: Raleway-Light;
  color: #232323;
  letter-spacing: 2px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.feature__box1 { grid-area: box1; }
.feature__box2 { grid-area: box2; }
.feature__box3 { grid-area: box3; }
.feature__box4 { grid-area: box4; }
.feature__box5 { grid-area: box5; }
.feature__box6 { grid-area: box6; }

.feature__box {
  margin: 0 auto;
  max-width: 400px;
  text-align: left;
  -webkit-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  -moz-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "picture"
  "title"
  "description"
}

.feature__box img {
  grid-area: logo;
  color: var(--clr-grey);
  margin-bottom: 20px;
  grid-area: picture;
}

.feature__box h4 {
  color: var(--clr-black);
  font-family: Raleway-Light;
  font-size: .8rem;
  padding-top: .5em;
  grid-area: title;
  letter-spacing: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature__box-description {
  list-style-type: none;
  font-family: Raleway-Light;
  padding-top: 1em;
  font-size: .7rem;
  color: var(--clr-black);
  grid-area: description;
  line-height: 1.2rem;
}

.feature__box-description li {
  border-top: 1px solid rgba(228, 228, 228, 0.753);
  padding: .5em 0;
}

.feature__box-description li:first-child {
  border: 0;
}

.feature__button { 
  grid-area: button;
  color: black;
  font-weight: bolder;
}

/* --------------- FEATURES END --------------- */

/* --------------- SECOIN-LINK START --------------- */

.secoin-link-container {
  padding: 4em 1.5rem;
  background-color: rgb(235, 235, 235);
}

.secoin-link {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "description"
  "image";
}

.secoin-link__text {
  grid-area: description;
  margin-bottom: 4em;
}

.secoin-link__text h4 {
  margin: 0;
  font-size: 1.3rem;
  font-family: OpenSans;
  color: var(--clr-black);
  letter-spacing: 3px;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.secoin-link__text p {
  font-family: Quicksand;
  font-size: .8rem;
  color: var(--clr-black);
  line-height: 1.2rem;
  margin-bottom: 3.5em;
}

.secoin-link__text a {
    border-width: medium;
    border-radius: 0;
    font-size: .8rem;
    font-weight: bolder;
    text-transform:uppercase;
    letter-spacing: 2px;
    background-color: rgb(28, 106, 151);
    padding: 1em 2em;
    transition: 400ms ease-in-out;
    color: var(--clr-white);
    font-family: Raleway-Light;
}

.secoin-link__text a:hover {
  background-color: rgb(49, 147, 204);
}

.secoin-link__img {
  grid-area: image;
}

.secoin-link__img img {
  width: 100%;
}


/* --------------- SECOIN-LINK END --------------- */

/* --------------- FOOTER START --------------- */

footer {
  border-top: 1px solid rgb(218, 218, 218);
}

.contact {
    width:100%;
    padding: 5em 1em;
    text-align: left;
}

.contact__box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    grid-gap: 2em;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "form"
    "container"
}

.contact__form { grid-area: form; }
.contact__container { grid-area: container; }

.contact__form {
    width: 100%;
}

.form {
    max-width: 500px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    text-align: left;
    background-color: var(--clr-white);
    margin: 0 auto;
}

.form__title {
    font-size: 1.1rem;
    font-family: Raleway-Light;
    color: var(--clr-black);
    letter-spacing: 2px;
    font-weight: bolder;
    line-height: 1.5em;
}

.form-item {
    margin-top: 2.5em;
}

.form-item + .form-item {
    margin-top: 2em;
}

.form-item textarea {
    height: 12em;
}

.form-input {
    /*background: var(--clr-primary);*/
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    font-size: .6rem;
    letter-spacing: 2px;
    font-family: Raleway-Light;
    font-weight: bolder;
    padding: 1em;
}

.form-input::placeholder {
    color: rgb(100, 100, 100);
}

textarea {
    resize: none;
}

.form-button {
    font-size: .7rem;
    font-weight: bolder;
    letter-spacing: 2px;
    width: 60%;
    border-radius: 2px;
    border: 1px solid #889098;
    padding: 1.5em;
    margin: 5em auto 0 auto;
    /* Ver si el transition está bien acá*/
    transition: 400ms ease-in-out;
    background-color: #889098;
    color: var(--clr-white);
    font-family: Raleway-Light;
    text-transform: uppercase;
}

.form-button:hover {
    background-color: #333333;
    border: 1px solid #333333;
    cursor: pointer;
}

.contact__container {
    width: 100%;
    margin-top: 0;
    height: 100%;
}

.contact__box-info {
    padding-top: 2em;
    border-top: 1px solid rgb(211, 210, 210);
}

.contact__info-box {
    margin-bottom: 2em;
}

.contact__title {
  font-size: 1.1rem;
  font-family: Raleway-Light;
  color: var(--clr-black);
  letter-spacing: 2px;
  font-weight: bolder;
  line-height: 1.5em;
}

.contact__description {
    color: var(--clr-black);
    font-family: OpenSans;
    font-size: .7rem;
    margin-bottom: .3em;
    font-weight: lighter;
}

.contact__description a {
    text-decoration: none;
    color: var(--clr-black);
}

.contact-message-box {
    width:90%;
    margin: 1em auto 0 auto;
}

.contact-message {
    text-align: center;
    font-family: Raleway;
}

.success {
    border-radius: 2px;
    padding: .8em 1em;
    font-size: .8rem;
    color: white;
    background-color: rgb(60, 173, 88);
}

.error {
    border-radius: 2px;
    padding: .8em 1em;
    font-size: .8rem;
    color: white;
    background-color: rgb(218, 49, 49);
}

/* --------------- FOOTER END --------------- */

/* --------------- CONTACT FORM INPUT NUMBER HIDE ARROWS START --------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* --------------- CONTACT FORM INPUT NUMBER HIDE ARROWS END --------------- */

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
.section-center {
    width: 95vw;
  }


  /* --------------- PRODUCTS BIG SCREEN START --------------- */

.products {
  padding: 0 2em;
  max-width: 1300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "box1 box2 box3"
}

.products__title {
  font-size: 2rem;
}

.product__box h4 {
  font-size: 1rem;
}


/* --------------- PRODUCTS BIG SCREEN END --------------- */
}

  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: rgb(75, 75, 75);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 80px;
}
.links a {
  font-weight: bold;
  color: #232323;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 2rem;
  transition: var(--transition);
}
.links a:hover {

  color: #AAB4BE;
  padding-left: 1.5rem;
}
.links {
  list-style-type: none;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {

  .icon-whatsapp{
    bottom: 60px;
    right: 60px;
    padding: .5em;
  }

  .nav-center {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 1rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  /* --------------- HOME BIG SCREEN START --------------- */

  .carousel-item {
    height: 100vh;
  }

  .carousel-caption {
    max-width: 750px;
    top: 38%;
    text-align: left;
    margin-left: 10%;
  }

  .carousel-caption h1 {
    font-size: 2.5rem;
    letter-spacing: .3rem;
  }

  .btn-lg {
    font-size: .9rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display:-ms-flexbox;
    display:flex;
  }

/* --------------- HOME BIG SCREEN END --------------- */



  /* --------------- ACTION-CALL BIG SCREEN START --------------- */

  .action-call {
    grid-gap: 0;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "description btn"
  }

  /* --------------- ACTION-CALL BIG SCREEN END --------------- */

  /* --------------- FEATURES BIG SCREEN START --------------- */

  .features {
    padding: 0 2em;
    max-width: 810px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "box1 box2"
    "box3 box4"
    "box5 box6"
}
.features__title {
    font-size: 2rem;
}

.feature__box {
    grid-template-rows: 3.5em;
    padding: 1.3em;
    grid-template-columns: 2fr;
    grid-column-gap: 1em;
    grid-template-areas: 
    "picture title"
    ". description"
}

.feature__box h4 {
    padding-top: 0;
    font-size: .8rem;
}

.feature__box-description {
    padding: 0;
    font-size: .7rem;
    letter-spacing: 1px;
}

/* --------------- FEATURES BIG SCREEN END --------------- */

  /* --------------- SECOIN-LINK SCREEN START --------------- */

  .secoin-link {
    margin: 0 auto;
    max-width: 1100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "description image";
  }

  /* --------------- SECOIN-LINK SCREEN END --------------- */

  /* --------------- FOOTER BIG SCREEN START --------------- */
      
  .contact {
    padding: 4em;
  }

  .contact__box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "form container"
  }

  .form {
    max-width: none;
  }

  .contact__box-info {
    padding: 2em;
    border: 0;
  }

  .contact__description {
    font-size: .8rem;
    letter-spacing: 2px;
  }

  .form-input {
    font-size: .7rem;
  }

  /* --------------- FOOTER BIG SCREEN END --------------- */

}


@media only screen and (min-width: 1200px) {

  /* --------------- CONTACT BIG SCREEN START --------------- */
  .contact {
      max-width: 1100px;
      margin: 0 auto;
  }
  /* --------------- CONTACT BIG SCREEN END --------------- */

}

@media only screen and (min-width: 1200px) {

/* --------------- FEATURES BIG SCREEN START --------------- */

.features {
  padding: 0 3em;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  max-width: 1500px;
  grid-template-areas: 
  "box1 box2 box3"
  "box4 box5 box6"
}

/* --------------- FEATURES BIG SCREEN END --------------- */

}